.btn {
  box-shadow: none;
  outline-offset: 0px;
  outline: 0;
}
.primary-button {
  padding: 8px 15px;
  background-color: $black-color;
  border-radius: 4px;
  font-size: $font12;
  color: $white-color;
  &:hover {
    color: $white-color;
  }
  .mdi {
    font-size: 20px;
    line-height: 0px;
    position: relative;
    top: 2px;
    right: 4px;
    vertical-align: middle;
  }
}
.custom_tooltip {
  &.with_touch_ripple > div > div > div {
    background-color: rgba(0, 0, 0, 0.85) !important;
  }
  &:not(.with_touch_ripple) > div > div {
    background-color: rgba(0, 0, 0, 0.85) !important;
  }
  &.multiline_tooltip {
    &.md {
      span:not(.mdi) {
        width: 180px;
      }
    }
    &.lg {
      span:not(.mdi) {
        width: 223px;
      }
    }
    &.xlg {
      span:not(.mdi) {
        width: 406px;
      }
    }
    span:not(.mdi) {
      white-space: initial !important;
      display: block;
      width: 115px;
      border-radius: 2px;
      line-height: 17px;
      font-family: "OpenSansRegular";
      font-style: 12px;
      padding: 6px 0;
      text-align: initial;
      // &.lg {
      //   width: 223px;
      // }
      // &.xlg {
      //   width: 1423px;
      // }
    }
  }
}

.showToolTip {
  &:hover {
    .customToolTip {
      display: block;
    }
  }
}


.customToolTip {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  font-family: "OpenSansRegular";
  font-size: 12px;
  // border-radius: 5px;
  // border-top-left-radius: 0px;
  padding: 4px 8px;
  width: 223px;
  display: none;
  position: absolute;
  z-index: 9;
  margin-top: 8px;
  margin-left: 2px;
  &.xsm {
    width: 80px;
  }
  &.sm {
    width: 130px;
  }
  &.md {
    width: 180px;
  }
  &.lg {
    width: 223px;
  }
  &.xlg {
    width: 406px;
  }
  &.right {
    right: -14px;
    & > div {
      // left: initial !important;
      right: 0;
      // left: 0;
    }
  }
  .array {
    margin: 0;
    padding-left: 20px;
    text-align: left;
  }
  &.left {
    right: -16px;
    & > div {
      // left: 166px !important;
      right: 0;
    }
  }
  &.origin_right {
    right: 0px;
    & > div {
      // left: initial !important;
      right: 0;
      // left: 0;
    }
  }
  &.center {
    // right: 0px;
    right: -26px;
    border-radius: 4px;
    margin-top: 10px;
    & > div {
      display: none;
      // left: initial !important;
      // right: 0;
      // left: 0;
    }
  }
}

.mark-all-as-read {
  cursor: pointer;
  &:hover {
    color: #E51937;
  }
}
